<div class="container">
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <p class="video-description">Local: </p>
    <video #local_video [autoplay]="true" [muted]="true"></video>
  </mat-grid-tile>
  <mat-grid-tile>
    <p class="video-description">Remote: </p>
    <video #local_video [autoplay]="true" [muted]="true"></video>
  </mat-grid-tile>
</mat-grid-list>
<button mat-raised-button color="primary">StartLocal</button>
<button mat-raised-button color="primary">StopLocal</button>
<button mat-raised-button color="primary">Call</button>
<button mat-raised-button color="primary">Hangup</button>
</div>
